# Auto detect text files and perform LF normalization
* text=auto

# SQL files
*.sql text eol=lf

# JavaScript files
*.js text eol=lf
*.json text eol=lf

# Markdown files
*.md text eol=lf

# Environment files
.env* text eol=lf
